.maincontainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 90vh;
    gap: 20px;
}

.container1{
    border: 1px solid gray;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.container2{
    border: 1px solid gray;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.container3{
    border: 1px solid gray;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container4{
    border: 1px solid gray;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container5{
    border: 1px solid gray;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container6{
    border: 1px solid gray;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content:left;
}
.content1{
    background-color: rgb(218, 247, 58);
    animation-name: move;
    animation-duration: 3s;
    /* animation-direction: alternate; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.content2{
    background-color: rgb(81, 165, 42);
    border-radius: 50%;
    color: aliceblue;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}
.content3{
    background-color: brown;
    border-radius: 5px;
    animation-name: flip;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
   
}
.content3 p{
    border-radius: 5px;
    animation-name: flip;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
}
.content4{
    background-color: rgb(238, 223, 10);
    animation-name: rotate;
    animation-duration: 3s;
    /* animation-direction: alternate-reverse; */
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    border-radius: 5px;
}
.content5{
    background-color: rgb(75, 42, 165);
    border-radius: 5px;
    
   
}
.content51{
    background-color: rgb(75, 42, 165);
    animation-name: zoom ;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 5px;
   
}
.content6{
    background-color: rgb(248, 34, 255);
    animation-name: rotatezoom ;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 5px;
}
.inner-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height:100px;
    color: white;
}
.content5:hover{
    transform: scale(1.2);
}

@keyframes bounce {
    20%{
        translate: 0px 90px;
    }
}

@keyframes move{
    100%{
        translate: 250px ;
    }
}

@keyframes flip{
    20%{
        transform: rotateY(180deg);
    }
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotatezoom{
    100%{
        transform: rotate(360deg);
    }
    100%{
        width: calc(60%);
        height:calc(60%);
    }
    100%{
        translate: 150px;
        /* transform: translate(100px); */
    }
}
@keyframes zoom{
    100%{
        transform: scale(1.2);
    }
}
@media(max-width:425px){
    .maincontainer{
        display: flex;
        flex-wrap: wrap;
    }
}